$accent: #d7b399;
$dark: #212121;
$light: #f9f6f1;
$grey: #cbcfd4;
$light-grey: #f4f4f4;
$dark-grey: #8d8d8d;
$important: #d84033;

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.page-light {
  background: $light;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  &-item {
    margin-left: 52px;
  }
  &-link {
    color: $dark;
  }
}
